<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}CloudVault Eclipse{% endblock %}</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    {% include "partials/sidebar.html" %}

    <main class="dashboard-content">
      {% block dashboard_content %} {% endblock %}
    </main>
  </body>
</html>
